
<form class="example-form">

  <table class="example-full-width" cellspacing="0"><tr>
    <td>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Paciente</mat-label>
        <input matInput>
      </mat-form-field>
    </td>
    <td> <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Selecciona una fecha Inicial</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="fechaInicio"  [ngModelOptions]="{ standalone: true }">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field></td>
    <td> <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Selecciona una fecha Final</mat-label>
      <input matInput [matDatepicker]="picker2" [(ngModel)]="fechaFin"  [ngModelOptions]="{ standalone: true }">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field></td>
  </tr></table>

  <p>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Observacion</mat-label>
      <textarea matInput placeholder="Paciente nuevo"></textarea>
    </mat-form-field>
  </p>
    <br>
      <div class="example-button-row">
        <button mat-raised-button color="accent" >Nuevo evento</button>
      </div>
</form>
