
<body>

<div class="text-center" *ngIf="isLogged; else loggedOut">
  <h2> has iniciado sesion</h2>
</div>
<ng-template #loggedOut>

  <div class="container d-flex justify-content-center">
    <div class="card">
      <div class="card-header">
        <ul class ="nav nav-tabs" >
          <li class="nav-items">
            <a class="nav-link " routerLink="/login"> Iniciar sesión</a>
          </li>
          <li class="nav-items">
            <a class="nav-link active" routerLink="/registro"> Registrarse </a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <form #f="ngForm" (ngSubmit)="onRegister()">
          <div class="form-group">
            <label >Registro nuevo Usuario</label>
          </div>
          <img src="/assets/img/logoNegro.png" width="100" height="100" alt="" style="margin-left: 60px; margin-bottom: 30px">


          <div class="form-group">
            <label > Nombre</label>
            <input type="text" name="nombreUsuario" id="nombre" class="form-control" [(ngModel)]="nombre" required >
          </div>
          <div class="form-group">
            <label > Nombre de usuario</label>
            <input type="text" name="nombreUsuario" id="nombreUsuario" class="form-control" [(ngModel)]="nombreUsuario" required >
          </div>
          <div class="form-group">
            <label > Email</label>
            <input type="text" name="nombreUsuario" id="email" class="form-control" [(ngModel)]="email" required >
          </div>
          <div class="form-group">
            <label> Contraseña </label>
            <input type="password" name="password" id="password" class="form-control" [(ngModel)]="password" required >
          </div>
          <div class="form-group">
            <button class="btn btn-outline-success " [disabled]="!f.valid" > Iniciar </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>
</body>
