<app-menu></app-menu>
<div class="container mt-3" style="width: 90%" *ngIf="paciente">
  <h1>{{paciente.nombre}} {{paciente.apellido}}</h1>
  <table class="table" style="width: 100%">
    <tbody>
    <tr>
      <td><b> Nombre: {{paciente.nombre}} {{paciente.apellido}}</b>  </td>
      <td><b> Cedula: </b> {{paciente.cedula}} </td>
      <td><b> Sexo: </b> {{paciente.sexo}} </td>

    </tr>
    <tr>
      <td><b> Nivel Escolaridad: </b> {{paciente.nivelEscolaridad}} </td>
      <td><b> ocupacion: </b> {{paciente.ocupacion}} </td>
      <td><b> institucion: </b> {{paciente.institucion}} </td>

    </tr>
    <tr>
      <td><b> fechaNacimiento: </b> {{paciente.fechaNacimiento}} </td>
      <td><b> lugar Nacimiento: </b> {{paciente.lugarNacimiento}} </td>
      <td><b> Direccion: </b> {{paciente.direccion}} </td>

    </tr>
    <tr>
      <td><b> municipio: </b> {{paciente.municipio}} </td>
      <td><b> telefono: </b> {{paciente.celular}} </td>
      <td><b> emai: </b> {{paciente.emai}} </td>

    </tr>
    <tr>
      <td><b> estadoCivil: </b> {{paciente.estadoCivil}} </td>
      <td><b> estrato: </b> {{paciente.estrato}} </td>
      <td><b> tarifa: </b> {{paciente.tarifa}} </td>
    </tr>
    <tr>
      <td><b> nombreAcudiente: </b> {{paciente.nombreAcudiente}} </td>
      <td><b> edadAcudiente: </b> {{paciente.edadAcudiente}} </td>
      <td><b> telefonoAcudiente: </b> {{paciente.telefonoAcudiente}} </td>

    </tr>
    <tr>
      <td><b> celularAcudiente: </b> {{paciente.celularAcudiente}} </td>
      <td><b> direccionAcudiente: </b> {{paciente.direccionAcudiente}} </td>
    </tr>
    <tr>
    <td colspan="4">
      <button class="btn btn-outline-info btn-block" (click)="volver()"><i class="fas fa-hand-point-left"></i> Volver</button>
    </td>
    </tr>
    </tbody>
  </table>

  <table class="table" style="width: 100%">
    <tr>
      <th>motivoDeConsulta</th>
      <th>diagnostico</th>
      <th>antecedentePsiquiatricoFam</th>
      <th>antecedenteConsumoPac</th>
    </tr>
    <tr *ngFor="let historia of paciente.historia;">
      <th>{{historia.motivoDeConsulta}}</th>
      <th>{{historia.diagnostico}}</th>
      <th>{{historia.antecedentePsiquiatricoFam}}</th>
      <th>{{historia.antecedenteConsumoPac}}</th>
    </tr>
  </table>
</div>


