<app-menu></app-menu>
<table class="table mt-3">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Cedula</th>
    <th scope="col">Nombre</th>
    <th scope="col">Apellido</th>
    <th> Ver</th>
    <th scope="col">Editar</th>
    <th scope="col">borrar</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let paciente of pacientes ">
    <td>{{paciente.id}}</td>
    <td>{{paciente.cedula}}</td>
    <td>{{paciente.nombre}}</td>
    <td>{{paciente.apellido}}</td>
    <td><button class="btn btn-outline-info" routerLink="/detalle/{{paciente.id}}"><i class="fas fa-eye"></i> Detalle </button></td>
    <td><button class="btn btn-outline-warning" routerLink="/editar/{{paciente.id}}"><i class="fas fa-user-edit"></i> editar </button></td>
    <td><button class="btn btn-outline-danger" (click)="borrar(paciente.id)"><i class="fas fa-user-minus"></i> borrar </button></td>
  </tr>
  </tbody>
</table>
