<app-menu></app-menu>

      <form class="example-form">

        <table class="example-full-width" cellspacing="0" >
          <tr>
            <td style="text-align: center" colspan="2">
              <h1>
                Nuevo paciente
              </h1>
            </td>
          </tr>

          <tr>
          <td>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Cedula</mat-label>
              <input matInput [(ngModel)]="cedula" required="required"  [ngModelOptions]="{ standalone: true }" >
            </mat-form-field>
          </td>

            <td colspan="1">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Estado Civil</mat-label>
                <mat-select
                  [(ngModel)]="estadoCivil"
                  class="select2"
                  name="estadoCivil"
                  style="width: 100%"
                  [ngModelOptions]="{ standalone: true }"
                >
                  <mat-option value="Soltero" >
                    Soltero
                  </mat-option>
                  <mat-option value="Casado" >
                    Casado
                  </mat-option>
                  <mat-option value="Divorciado" >
                    Divorciado
                  </mat-option>
                  <mat-option value="Otro" >
                    Otro
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
        <tr>
          <td colspan="1">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Nombre</mat-label>
              <input matInput [(ngModel)]="nombre" required="required"  [ngModelOptions]="{ standalone: true }">
            </mat-form-field>
          </td>
          <td colspan="1">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Apellidos</mat-label>
              <input matInput [(ngModel)]="apellido" required="required"  [ngModelOptions]="{ standalone: true }">
            </mat-form-field>
          </td>
        </tr>
          <tr>
            <td colspan="1">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Sexo</mat-label>
                <mat-select
                  [(ngModel)]="sexo"
                  class="select2"
                  name="sexo"
                  style="width: 100%"
                  [ngModelOptions]="{ standalone: true }"
                >
                  <mat-option value="Masculino" >
                    Masculino
                  </mat-option>
                  <mat-option value="Femenino" >
                    Femenino
                  </mat-option>
                  <mat-option value="Otro" >
                    Otro
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td colspan="1">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Nivel escolar</mat-label>
                <mat-select
                  [(ngModel)]="nivelEscolaridad"
                  class="select2"
                  name="sexo"
                  style="width: 100%"
                  [ngModelOptions]="{ standalone: true }"
                >
                  <mat-option value="Primaria" >
                    Primaria
                  </mat-option>
                  <mat-option value="Secundaria" >
                    Secundaria
                  </mat-option>
                  <mat-option value="Tecnica" >
                    Técnica
                  </mat-option>
                  <mat-option value="Tecnologia" >
                    Tecnologia
                  </mat-option>
                  <mat-option value="Pregrado" >
                    Pregrado
                  </mat-option>
                  <mat-option value="Posgrado" >
                    Posgrado
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td colspan="1">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Ocupación</mat-label>
                <input matInput [(ngModel)]="ocupacion" required="required"  [ngModelOptions]="{ standalone: true }">
              </mat-form-field>
            </td>
            <td colspan="1">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>institucion</mat-label>
                <input matInput [(ngModel)]="institucion" required="required"  [ngModelOptions]="{ standalone: true }">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td colspan="1"> <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Selecciona una fecha de nacimiento </mat-label>
              <input matInput [matDatepicker]="picker" [(ngModel)]="fechaNacimiento"  [ngModelOptions]="{ standalone: true }">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field></td>
            <td colspan="1">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>lugar de nacimiento</mat-label>
                <input matInput [(ngModel)]="lugarNacimiento" required="required"  [ngModelOptions]="{ standalone: true }">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td colspan="1">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Direccion</mat-label>
                <input matInput [(ngModel)]="direccion" required="required"  [ngModelOptions]="{ standalone: true }">
              </mat-form-field>
            </td>
            <td colspan="1">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>municipio</mat-label>
                <mat-select
                  [(ngModel)]="nivelEscolaridad"
                  class="select2"
                  name="municipio"
                  style="width: 100%"
                  [ngModelOptions]="{ standalone: true }"
                >
                <mat-option *ngFor="let municipio of municipios" [value]="municipio.c_digo_dane_del_municipio" >
                  {{municipio.municipio}}
                </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td colspan="1">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>telefono</mat-label>
                <input matInput [(ngModel)]="telefono" required="required"  [ngModelOptions]="{ standalone: true }">
              </mat-form-field>
            </td>

            <td colspan="1">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>celular</mat-label>
                <input matInput [(ngModel)]="celular" required="required"  [ngModelOptions]="{ standalone: true }">
              </mat-form-field>
            </td>
          </tr>

          <tr>
            <td colspan="1">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>estrato</mat-label>
                <input matInput [(ngModel)]="estrato" required="required"  [ngModelOptions]="{ standalone: true }">
              </mat-form-field>
            </td>
            <td colspan="1">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>tarifa</mat-label>
                <input matInput [(ngModel)]="tarifa" required="required"  [ngModelOptions]="{ standalone: true }">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Nombre Acudiente</mat-label>
                <input matInput [(ngModel)]="nombreAcudiente" required="required"  [ngModelOptions]="{ standalone: true }">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Edad Acudiente</mat-label>
                <input matInput [(ngModel)]="edadAcudiente" required="required"  [ngModelOptions]="{ standalone: true }">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td colspan="1">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Celular Acudiente</mat-label>
                <input matInput [(ngModel)]="telefonoAcudiente" required="required"  [ngModelOptions]="{ standalone: true }">
              </mat-form-field>
            </td>

            <td colspan="1">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Dirección Acudiente</mat-label>
                <input matInput [(ngModel)]="direccionAcudiente" required="required"  [ngModelOptions]="{ standalone: true }">
                <input matInput hidden="true" value="{{usuarioRegistra}}" [(ngModel)]="usuarioRegistra"  [ngModelOptions]="{ standalone: true }">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <div class="example-button-row" style="padding-bottom: 30px;">
                <button mat-raised-button color="accent" (click)="onCreate()" >Nuevo Paciente</button>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <div class="example-button-row" >

              </div>
            </td>
          </tr>
        </table>

      </form>


